/* CSS declarations go here */
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    src: url(fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    src: url(fonts/Roboto-LightItalic.ttf);
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    src: url(fonts/Roboto-Italic.ttf);
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 900;
    src: url(fonts/Roboto-MediumItalic.ttf);
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    src: url(fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 100;
    src: url(fonts/Roboto-ThinItalic.ttf);
}






body {
    font-family: Roboto, sans-serif;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    margin: 0;

    font-size: 14px;
}

h1.heading {
    color: #E91E63;
    font-weight: normal;
}




/*****
 * Filtered multi select style code
 *****/

.FilteredMultiSelect__button,
.FilteredMultiSelect__filter, 
.FilteredMultiSelect__select {
    display: block;
    width: 100%;
}

.deletecircle {
    background-color: transparent;
    margin-right: 10px
}
